export(connectionStringAccess)
export(createRDatabaseInterface)
export(currentDb)
export(dataFrameToSqlTuples)
export(getCurrentSqlDialect)
export(getDatabaseSchema)
export(getFilteredRecords)
export(getSqlDialect)
export(getTypeIdentifier)
export(hsClearTable)
export(hsCloseDb)
export(hsCloseMdb)
export(hsDropTable)
export(hsDumpMdb)
export(hsFields)
export(hsGetTable)
export(hsGetTimeSeries)
export(hsJetDate)
export(hsLookupOrAddRecord)
export(hsMdbTimeSeries)
export(hsOpenDb)
export(hsOpenMdb)
export(hsPutTable)
export(hsSetForeignKey)
export(hsSetPrimaryKey)
export(hsSqlExAnd)
export(hsSqlExOr)
export(hsSqlExTimeCond)
export(hsSqlExTimeGroup)
export(hsSqlExTsFields)
export(hsSqlQuery)
export(hsTables)
export(hsTsField)
export(isExcel2007File)
export(isExcelFile)
export(isMySQL)
export(keyValuesToSql)
export(keyValuesToSqlAssignment)
export(keyValuesToSqlAssignment2)
export(keyValuesToSqlFilter)
export(listValuesToSql)
export(lookupRecord)
export(openAdequateConnectionOrStop)
export(printDatabaseSchema)
export(rcode_DatabaseInterface)
export(readSqlCommandsFromFile)
export(renamesToFieldList)
export(runSqlCommandsFromFile)
export(safeTableName)
export(selectFromDb)
export(selectFromTable)
export(setCurrentDb)
export(setCurrentSqlDialect)
export(sqlForInsert)
export(sqlForInsertDataFrame)
export(sqlForInsertFromSelect)
export(sqlForInsertIgnoreInMsAccess)
export(sqlForSelect)
export(sqlForSelectByKey)
export(sqlForUpdate)
export(sqlJoinExpression)
export(sqlLeftJoin)
export(sqlLeftJoinBody)
export(sqlLeftJoinExpression)
export(xmdb)
